In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://postgres:qUIup2lwFxoXh9yEXo4P@umovilgr81.cwwzdzhdizxh.us-east-2.rds.amazonaws.com

In [ ]:
%%sql

-- CREATE THE DATABASE
end;
CREATE DATABASE transporte;

In [ ]:
%reload_ext sql
%sql postgresql://postgres:qUIup2lwFxoXh9yEXo4P@umovilgr81.cwwzdzhdizxh.us-east-2.rds.amazonaws.com/transporte

In [ ]:
%%sql
CREATE TABLE divipola_coord_centrales (
    index INTEGER,
    region TEXT,
    codigo_dane_del_departamento INTEGER,
    departamento TEXT,
    codigo_dane_del_municipio INTEGER,
    municipio TEXT,
    latitud_centro_municipio FLOAT,
    longitud_centro_municipio FLOAT
    );

In [ ]:
%%sql

SELECT * FROM divipola_coord_centrales LIMIT 10;

In [ ]:
%%sql

CREATE TABLE pasajeros_origen_destino (
    index INTEGER,
    terminal TEXT,
    clase_vehiculo TEXT,
    nivel_servicio TEXT,
    municipio_origen_ruta INTEGER,
    municipio_destino_ruta INTEGER,
    fecha_despacho DATE,
    hora_despacho INTEGER,
    tipo_despacho TEXT,
    despachos INTEGER,
    pasajeros INTEGER
    );

In [ ]:
%%sql

SELECT * FROM pasajeros_origen_destino LIMIT 10;

In [ ]:
%%sql

CREATE TABLE coordenadas_terminales (
    index INTEGER,
    terminal TEXT,
    latitud_terminal FLOAT,
    longitud_terminal FLOAT,
    codigo_dane_del_municipio INTEGER
    );